.page_cotact {
    font-family: "Roboto", sans-serif
}

.page_cotact .title-head-contact {
    color: #323c42;
    font-size: 30px !important;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: none;
    position: relative;
    display: block;
    margin: 0;
    padding-bottom: 10px
}

.page_cotact .title-head-contact span {
    display: block;
    padding: 10px 0
}

.page_cotact p {
    color: #8d90a6
}

.page_cotact .title_db {
    font-size: 18px !important;
    font-weight: 700;
    color: #323c42;
    text-transform: uppercase;
    position: relative;
    display: block;
    margin: 0;
    padding-bottom: 0px
}

.page_cotact .title_db span {
    display: block;
    padding: 10px 0
}

.page_cotact .form-signup {
    margin: 0px
}

.page-login .title-head-contact:before {
    width: 25%
}

.group_contact .form-group {
    padding: 0px 10px;
    margin-bottom: 15px;
    color: #323c42
}

.group_contact .form-group .form-control {
    border-radius: 0px !important;
    font-size: 14px;
    color: #323c42;
    height: 40px;
    padding: 0px 15px;
    border-left: 2px solid #eb3e32
}

.group_contact .form-group .form-control::-webkit-input-placeholder {
    color: #acacac
}

.group_contact .form-group .form-control::-moz-placeholder {
    color: #acacac
}

.group_contact .form-group .form-control:-ms-input-placeholder {
    color: #acacac
}

.group_contact .form-group .content-area {
    min-height: 100px;
    padding: 10px 15px;
    border-radius: 0 !important;
    resize: none
}

.group_contact .form-group input,
.group_contact .form-group textarea {
    border-color: #f7f7f7;
    background-color: #f7f7f7;
    margin-bottom: 0
}

.group_contact .form-group input:focus,
.group_contact .form-group textarea:focus {
    border-color: #f7f7f7
}

.group_contact .form-group .btn-50-full {
    font-family: "Roboto", sans-serif;
    position: absolute;
    right: 15px;
    bottom: 0px;
    box-shadow: none;
    padding: 8px 20px;
    font-size: 14px;
    color: #fff;
    background: #eb3e32;
    border: solid 1px #eb3e32
}

.group_contact .form-group .btn-50-full:hover {
    border-color: #ffb416;
    background: #fff;
    color: #ffb416
}

.group_contact .btn-lienhe {
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
    border: 1px #ddd solid;
    background: #fff;
    color: #323c42;
    padding: 0px 12px;
    transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    min-width: 80px;
    position: relative
}

.group_contact .btn-lienhe .fa {
    margin-right: 5px
}

.group_contact .btn-lienhe:hover {
    background: #ffb416;
    color: #fff
}

.thank_text {
    color: #eb3e32;
    display: block;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px
}

.google-map {
    width: 100%
}

.google-map .map {
    width: 100%;
    height: 450px;
    background: #dedede
}

@media (max-width: 543px) {
    .page-login span.intr {
        font-size: 13px !important
    }

    .address .page_address .adr_title .title-head a {
        width: 100%;
        margin: 15px 0
    }
}

.iFrameMap {
    margin-bottom: 20px
}

.iFrameMap iframe {
    width: 100% !important;
    height: 450px
}

.title-head-contact {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0px
}

.page_contact {
    padding-bottom: 40px
}

.page_contact label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

.page_contact label em {
    color: red
}

.item-contact {
    display: flex;
    margin-bottom: 10px;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px
}

.item-contact .img {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background: #eb3e32;
    color: #fff;
    text-align: center
}

.item-contact .img i {
    font-size: 18px
}

.item-contact .content-r {
    padding-left: 10px;
    font-size: 14;
    font-weight: bold
}

.item-contact .content-r p,
.item-contact .content-r a {
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin-bottom: 0
}